::-webkit-scrollbar {
  display: none;
}

.appearDown {
  animation: appearDown 1.5s ease-out forwards;
}

@keyframes appearDown {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.appearUp {
  animation: appearUp 1.5s ease-out forwards;
}

@keyframes appearUp {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
